


/* CORREGIR-MEJORAR ESTILO DEL FORMULARIO*/
.formulario {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    right: 8%;
    padding: 60px;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-group label{
    margin-bottom: 5px;
}

.form-group input, 
.form-group textarea{
    width: 100%;
    margin-left: 70%;
}

.btn-enviar {
    width: 50%;
    margin-top: 10px;
    height: 30px;
    margin-left: 70%;
}
/**** FIN - INSTITUCIONAL ****/

/*** Corregir footer con los cambios de juan***/
.contenedor-footer {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    height: auto;
    padding: 5px 5%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.section-f {
    padding: 5px 5%; 
} 

.section-f a {
    text-decoration: none;
    color: black;
}

.footer-li a {
    color: #273739;
    text-decoration: none;
    margin-right: 40px;
}

.float {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    bottom: 30px;
    right: 30px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    z-index: 999;
}

.fa-whatsapp {
    font-size: 52px;
}

.float:hover {
    background-color: #27f472;
}

/*Luego agregar al CSS general*/